* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    width: 16rem;
    height: 2rem;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.post-time {
    bottom: 0;
    right: 16px;
    color: white;
    font-size: 15px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
}

.tik {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}